.garlic-theme { font-family:      Roboto;
                font-weight:      normal;
                text-decoration:  none;
                color:            #171717;
                background-color: #fafafa; }

.garlic-chunk { background-color: #4CAF50;
                color:            #fafafa;
                padding:          15px;
                width:            60%;
                height:           25px;
                margin-left:      auto;
                margin-right:     auto;
                text-align:       center }

.garlic-menu  { margin-left:      auto;
                margin-right:     auto; }
				
.garlic-error { background-color: #D50000; }

.desc         { font-style:       italic; }

.row-end      { padding:          10px }

.table-image  { height:           150px !important;
                width:            250px !important;
                image-rendering:  pixelated }

tr            { width:            70% }

th            { font-size:        24px;
                color:            #a55858;
                width:            30%; }

td            { text-align:       center; }

body          { overflow:         hidden; }
