
:root {

	--card-border-radius: 10px;
	--card-width: 16em;
	--card-margin: 2em;
	--card-df-width: calc(var(--card-width) + var(--card-margin)); /* De facto width */
	
	--white: #FAFAFA; /* off white */
	--black: #171717; /* off black */
	--translucent-light-gray: rgba(235, 235, 235, 0.97);
	--translucent-mid-gray1:  rgba(170, 170, 170, 0.97);
	--translucent-mid-gray2:  rgba(0, 0, 0, 0.3);
	--gray1: #EEE     /* light gray */
	--gray2: #AAA;    /* darker-but-still-pretty-light gray */
	--gray3: #546E7A; /* blue-gray */
	--blue:  #2196F3;
	--green: #4CAF50;
	--red:   #F44336;
	--gold: #FFF176;
	
	--transition-speed: 250ms;

}
